.website-logo-container {
  background-color: #f1f5f9;
}
.website-logo {
  width: 200px;
  padding: 10px;
}
.courses-heading {
  color: #1e293b;
  font-size: 20px;
}
.courses-container {
  padding: 20px;
}
.course-view-container {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}
